<h1>Log In</h1>

<form action="<%= sessions_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">
  <label> Username:
    <input type="text" name="user[user_name]" value="">
  </label>
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <input type="submit" value="Login">
</form>
